.baslik {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: brown;
}

body {
    background-color: whitesmoke;
}

.menu {
    /* list-style-position: outside; */
    border-radius: 20px;
    background-color: powderblue;
    width: 100%;
    display: inline-flex;
    height: 50px;
}

.menu-link {
    text-decoration: none;
    font-family: sans-serif;
    font-size: larger;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    width: 50%;
}

.sosyal-link {
    font-family: sans-serif;
    text-align: end;
    color: black;
    font-size: larger;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    width: 50%;
    vertical-align: bottom;
}


.menu li {
    display: inline-block;
    padding-right: 50px;
}

div.gezinti ul:nth-child(1) {
    padding-left: 100px;
}

div.sosyal li>a>img {
    padding-bottom: 10px;
}

.baslik {
    margin-bottom: 0px;
}

.slogan {
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    color: darkblue;
    text-align: center;
}